@page
@model BlogEX.Pages.Admin.Article.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Articles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Articles.Id" />
            <div class="form-group">
                <label asp-for="Articles.Title" class="control-label"></label>
                <input asp-for="Articles.Title" class="form-control" />
                <span asp-validation-for="Articles.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.Body" class="control-label"></label>
                <textarea asp-for="Articles.Body" class="form-control" type="text"></textarea>
                <span asp-validation-for="Articles.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.CoverPhoto" class="control-label"></label>
                <input asp-for="Articles.CoverPhoto" class="form-control" />
                <span asp-validation-for="Articles.CoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.CreateDate" class="control-label"></label>
                <input asp-for="Articles.CreateDate" class="form-control" />
                <span asp-validation-for="Articles.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.Tags" class="control-label"></label>
                <input asp-for="Articles.Tags" class="form-control" />
                <span asp-validation-for="Articles.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
