@model string
@if (Model != null)
{
    <ul>
        @foreach (var item in Model.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
        {
            <li class="d-inline p-1">
                <a asp-page="index" asp-page-handler="tag" asp-route-tag="@item" class="btn btn-dark">@item</a>
            </li>
        }
    </ul>
}